@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
}

.Home {
    @apply w-[100vw]
}

.home {
    background: linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%), url(../assets/first-background.png);
    @apply w-screen h-[65.83rem] bg-cover bg-center px-[10rem]
}

.logo {
    @apply pt-[1.583rem]
}

.nav {
    @apply flex flex-row justify-between
}

.links {
    @apply pt-[4.16rem] flex flex-row mr-[38.83rem]
}

.link1 {
    @apply pr-[6.17rem] text-[#ffffff] font-normal text-[1.5rem] leading-[5.83%]
}

.link2 {
    @apply pr-[4.66rem] text-[#ffffff] font-normal text-[1.5rem] leading-[5.83%]
}

.link3 {
    @apply pr-[4.75rem] text-[#ffffff] font-normal text-[1.5rem] leading-[5.83%]
}

.link4 {
    @apply pr-[6.17rem] text-[#ffffff] font-normal text-[1.5rem] leading-[5.83%]
}

.line {
    border: 0.5px solid #FFFFFF;
    @apply w-[100%] h-[0rem] mt-[1.833rem]
}

.text {
    @apply font-bold text-[4.33rem] leading-[5.833rem] capitalize tracking-[-0.08rem] mt-[16.67rem] text-white max-w-[48.67rem] flex-wrap
}

.header {
    @apply flex justify-between pr-[2.67rem] flex-row
}

.mapp {
    @apply mt-[6.67rem]
}

.map {
    @apply w-[34rem] h-[28.33rem] mb-[1.75rem]
}

.inputs {
    border: 0.083rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.833rem;
    @apply bg-white flex flex-row w-[34rem] h-[7.33rem] justify-center items-center
}

#all {
    background: #F9F9F9;
    border: 0.083rem solid #E6E6E6;
    border-radius: 0.416rem 0rem 0rem 0.416rem;
    @apply w-[10.67rem] h-[4.83rem] text-[1.17rem] font-medium leading-[2.33rem]
}

#neighbour {
    background: #F9F9F9;
    border: 0.083rem solid #E6E6E6;
    border-radius: 0.416rem 0rem 0rem 0.416rem;
    @apply w-[14.67rem] h-[4.83rem] text-[1.17rem] font-medium leading-[2.33rem]
}

.search1 {
    @apply w-[4.917rem] h-[4.83rem]
}

.trans {
    @apply h-[67.417rem]
}


.mini {
    font-family: 'Kumbh Sans', sans-serif;
    @apply mt-[7.75rem] text-[3rem] leading-[5.33rem] font-extrabold capitalize text-[#18191F] ml-[10rem]
}

.line2 {
    border: 0.25rem solid #F4511E;
    @apply ml-[10rem] h-[0rem] mb-[1.71rem] w-[32.083rem]
}

.photo {
    @apply ml-[6.917rem]
}

.columns {
      grid-template-columns: repeat(3, 1fr); 
    @apply ml-[5.417rem]  gap-[3.57rem] mt-[2.083rem] grid
}

.row {
    @apply flex flex-row
}

.full {
    @apply flex pr-[5.083rem] flex-row
}

/* .row1 {
    @apply pr-[7.3rem]
}

.row4 {
    @apply pr-[4.91rem]
}

.row5 {
    @apply pr-[8.67rem]
} */

.rt1 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
}

.rt2 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[15.83rem] h-[5.833rem] mr-[6.42rem]
}

.rt3 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[24.42rem] h-[5.833rem]
}

.rt4 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[15.64rem] h-[5.833rem]
}

.rt5 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[13.58rem] h-[5.833rem]
}

.rt6 {
    @apply font-semibold text-[2.167rem] leading-[2.917rem] mt-[1.75rem] w-[14.17rem] h-[5.833rem]
}

.square {
    background: #FFFFFF;
    box-shadow: 0rem 1rem 1.58rem rgba(0, 0, 0, 0.15);
    border-radius: 0.833rem;
    @apply h-[6.42rem] w-[6.42rem] flex justify-center items-center
}

.lists {
    @apply bg-[#F5F5F5] h-[128.17rem] px-[10.71rem]
}

.props {
    @apply flex flex-row justify-between
}

.list {
    @apply mt-[5.08rem] font-extrabold text-[3rem] leading-[5.33rem] capitalize
}

.orange {
    box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035), 0rem 0.679rem 0.543rem rgba(248, 90, 71, 0.0274815), 0px 0.154rem 0.262rem rgba(248, 90, 71, 0.0168519);
    border-radius: 0.417rem;
    @apply mt-[5rem] bg-[#F4511E] w-[16.67rem] h-[5.417rem] flex justify-center items-center font-medium text-white text-[1.41rem] leading-[1.917rem]
}

.tub {
    /* grid-template-columns: repeat(3, 1fr); */
    @apply gap-x-[2.77rem] mt-[5.75rem] gap-y-[5.08rem] grid gap-4 grid-cols-3 mb-[7rem]
}

.switch {
    @apply flex justify-center
}

.pages {
    @apply flex flex-row
}

.page1 {
    border: 0.083rem solid #BDBDBD;
    @apply h-[6.17rem] w-[7.25rem] bg-[#F3F3F3] flex justify-center items-center text-[1.33rem] font-bold text-[#BDBDBD] leading-[2rem]
}

.page2 {
    border: 0.083rem solid #BDBDBD;
    @apply h-[6.17rem] w-[3.92rem] bg-[#ffffff] flex justify-center items-center font-bold text-[#F4511E] leading-[2rem] text-[1.33rem]
}

.page3 {
    border: 0.083rem solid #BDBDBD;
    @apply h-[6.17rem] w-[3.92rem] bg-[#F4511E] flex justify-center items-center font-bold text-[#ffffff] leading-[2rem] text-[1.33rem]
}

.page4 {
    border: 0.083rem solid #BDBDBD;
    @apply h-[6.17rem] w-[3.92rem] bg-[#ffffff] flex justify-center items-center font-bold text-[#F4511E] leading-[2rem] text-[1.33rem]
}

.page5 {
    border: 0.083rem solid #BDBDBD;
    @apply h-[6.17rem] w-[7.25rem] bg-[#F3F3F3] flex justify-center items-center font-bold text-[#F4511E] text-[1.33rem] leading-[2rem]
}

.foot {
    @apply h-[173.25rem] ml-[12.92rem]
}

.hap1 {
    background-image: url(../assets/leases.png);
    @apply h-[27.8rem] w-[20.8rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] pl-[3rem] text-center
}

.hap2 {
    background-image: url(../assets/happiness.png);
    @apply h-[22.5rem] w-[22.5rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] pl-[2rem] text-center
}

.hap3 {
    background-image: url(../assets/cleaning.png);
    @apply h-[23.75rem] w-[17.67rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] flex justify-center pl-[1.5rem] text-center
}

.hap4 {
    background-image: url(../assets/roomate.png);
    @apply h-[29.67rem] w-[28.17rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] flex justify-center pl-[4.42rem]
}

.clean {
    @apply w-[47rem] flex flex-col gap-[1.67rem] mt-[9.17rem]
}

.hapy {
    @apply flex flex-row gap-[1.67rem] items-end
}

.hapx {
    @apply flex flex-row gap-[1.67rem]
}

.hap4t {
    @apply w-[16.58rem]
}

.search {
    @apply w-[50rem] mt-[22.63rem]
}

.foot1 {
    @apply flex flex-row gap-[5.67rem] mr-[16.97rem]
}

.lifestyle {
    @apply font-extrabold text-[3.33rem] leading-[4.5rem] w-[37rem] mb-[1.33rem]
}

.desire {
    @apply w-[37rem] font-normal text-[1.5rem] leading-[2.67rem] mb-[3.33rem]
}

.rooms {
    @apply bg-[#F4511E] w-[15.42rem] h-[5.25rem] flex justify-center items-center rounded-[1.08rem] text-white font-semibold text-[1.5rem] leading-[1.67rem]
}

.confi {
    @apply mt-[9.17rem] w-[72.1rem] font-medium leading-[2.66rem] text-[2rem]
}

.confident {
    @apply flex justify-center mb-[3.78rem]
}

.add {
    @apply flex justify-center
}

.new {
    background: #FFFFFF;
    box-shadow: 0rem 0.25rem 5.25rem rgba(0, 0, 0, 0.15);
    border-radius: 0.83rem;
    @apply w-[91.17rem] h-[85.83rem] flex flex-col items-center mb-[9.17rem]
}

.new-header {
    @apply text-[#F4511E] text-[2.33rem] font-bold leading-[2.67rem] mt-[3.75rem] mb-[5.5rem]
}

.details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @apply gap-x-[2.08rem] gap-y-[2.083rem] mb-[2.08rem]
}

.tops {
    background: #F9F9F9;
    border: 0.083rem solid #E6E6E6;
    border-radius: 0.42rem;
    @apply w-[26.5rem] h-[4.17rem] pl-[1.75rem] font-normal text-[1.17rem] leading-[2.33rem]
}

#tops {
    background: #F9F9F9;
    border: 0.083rem solid #E6E6E6;
    border-radius: 0.42rem;
    @apply w-[26.5rem] h-[4.17rem] pl-[1.75rem]
}

.topi {
    @apply flex flex-col gap-[0.417rem]
}

.asterik {
    @apply text-[#F4511E]
}

.topih {
    @apply font-semibold text-[1.42rem] leading-[2rem]
}

.topd {
    background: #F9F9F9;
    border: 0.083rem solid #E6E6E6;
    border-radius: 0.42rem;
    @apply w-[83.67rem] h-[12.58rem] pl-[1.75rem]
}

.topt {
    background: #F9F9F9;
    border: 0.083rem solid #F4511E;
    border-style: dashed;
    border-radius: 0.42rem;
    @apply w-[83.67rem] h-[12.58rem] pl-[1.75rem]  flex items-center flex-col
}

.toptt{
    @apply font-medium text-[1.33rem] leading-[2rem] mt-[2.25rem]
}

.browse{
    @apply text-[#f4511e]
}

.topio {
    @apply flex flex-col gap-[0.417rem] mt-[2.083rem] mb-[4.58rem]
}

.topt1{
    color: rgba(0, 0, 0, 0.5);
    @apply mt-[0.5rem] text-[1rem] leading-[1.5rem] font-medium
}

.but-o {
    @apply bg-[#F4511E] rounded-[0.76rem] w-[42.75rem] h-[5.75rem] flex justify-center text-white items-center font-medium leading-[2.08rem] text-[1.82rem]
}

.quote {
    background: rgba(244, 81, 30, 0.07);

    @apply h-[49.67rem] flex flex-row mb-[9.17rem]
}

.lorem {
    @apply flex flex-col
}

.youtube {
    background-image: url(../assets/youtube.png);
    @apply w-[100.83rem] h-[49.17rem] ml-[102.33rem] bg-cover bg-center bg-no-repeat flex items-center justify-center
}

.punct {
    @apply mt-[8.17rem] ml-[6.67rem] w-[5.89rem] h-[5rem]
}

.ipsum {
    @apply w-[52.92rem] ml-[10.75rem] font-normal text-[1.75rem] leading-[3rem] absolute mt-[10.83rem]
}

.footer {
    @apply h-[45.25rem] flex items-center flex-col
}

.line3 {
    background: #F4511E;
    @apply w-[104.83rem] h-[0.17rem]
}

.footer2 {
    @apply flex flex-row gap-[31rem]
}

.logo2 {
    @apply bg-[#F4511E] mt-[8.58rem] h-[8rem]
}

.drive-state {
    @apply flex flex-row gap-[1.75rem] font-normal text-[1.16rem] leading-[1.5rem]
}

.drive {
    @apply mt-[7.75rem]
}

.rest-second {
    @apply flex flex-row gap-[10.16rem] mt-[1.833rem]
}

.call-state {
    @apply flex flex-row gap-[1.75rem] font-normal text-[1.16rem] leading-[1.5rem]
}

.fax-state {
    @apply flex flex-row gap-[1.75rem] font-normal text-[1.16rem] leading-[1.5rem]
}

.media {
    @apply flex flex-row gap-[2.5rem] mt-[4rem]
}

.sot {
    opacity: 0.5;
    mix-blend-mode: normal;
    @apply font-normal text-[1rem] leading-[1.5rem] text-[#0A142F]
}

.line4 {
    background: #7BB9FC;
    mix-blend-mode: normal;
    opacity: 0.2;
    @apply w-[85.9rem] h-[0.083rem] mt-[6.92rem]
}

.last-footer {
    @apply flex flex-row gap-[15rem] mt-[2rem]
}

.last {
    @apply flex flex-row gap-[5rem]
}

.last1 {
    @apply text-[#0A142F] font-normal text-[1.17rem] leading-[1.42rem]
}

.last-second {
    mix-blend-mode: normal;
    opacity: 0.5;
    @apply text-[#0A142F] font-normal text-[1.17rem] leading-[1.42rem]
}












/* CSS for mobile devices */
@media (max-width: 767px) {
    

    .Home {
        @apply w-[100vw] 
    }

    .home {
        
        background: linear-gradient(200.44deg, rgba(0, 0, 0, 0.0001) 16.41%, rgba(0, 0, 0, 0.51) 77.16%), url(../assets/first-background.png);
        /* background-image: url(../assets/cleaning.png); */
        @apply max-w-[63.91rem] flex  flex-col  h-[65.83rem] bg-cover  bg-center px-[2rem] pt-[2rem]
    }

  

    .nav {
        @apply flex flex-row justify-between
    }

    .links {
        @apply pt-[4.16rem] flex flex-row mr-[38.83rem] hidden
    }

    
    .line {
        border: 0.5px solid #FFFFFF;
        @apply w-[80%] h-[0rem] mt-[1.833rem] 
    }


    .header {
        @apply flex justify-center flex-col
    }

    .mapp {
        @apply mt-[4.67rem] flex flex-col-reverse
    }

    .map {
        @apply w-[34rem] h-[28.33rem] mb-[1.75rem]
    }

    .text {
        @apply font-bold text-[2.33rem] leading-[2.833rem] capitalize tracking-[-0.08rem] mt-[2rem] text-white w-[30.67rem] flex-wrap
    }

    .inputs {
        border: 0.083rem solid rgba(0, 0, 0, 0.2);
        border-radius: 0.833rem;
        @apply bg-white flex flex-row w-[25rem] h-[7.33rem] justify-center items-center
    }

    #all {
        background: #F9F9F9;
        border: 0.083rem solid #E6E6E6;
        border-radius: 0.416rem 0rem 0rem 0.416rem;
        @apply w-[7.67rem] h-[4.83rem] text-[1.17rem] font-medium leading-[2.33rem]
    }

    #neighbour {
        background: #F9F9F9;
        border: 0.083rem solid #E6E6E6;
        border-radius: 0.416rem 0rem 0rem 0.416rem;
        @apply w-[10.67rem] h-[4.83rem] text-[1.17rem] font-medium leading-[2.33rem]
    }

    .search1 {
        @apply w-[4.917rem] h-[4.83rem]
    }






    .trans {
        @apply px-[2rem] h-auto     
    }


    .mini {
        font-family: 'Kumbh Sans', sans-serif;
        @apply mt-[2.75rem] text-[2rem] leading-[2.33rem] font-extrabold capitalize text-[#18191F] pl-[rem] w-[27rem] ml-[0rem]
    }

    .line2 {
        border: 0.25rem solid #F4511E;
        @apply  h-[0rem] mb-[1.71rem] w-[12.083rem]
    }

    .photo {
        @apply ml-[0.917rem] h-[25rem]
    }

    .columns {
          grid-template-columns: repeat(2, 1fr); 
        @apply mx-[1rem] grid mb-[7rem] 
    }

    /* .row {
        @apply flex flex-col 
    } */
    .row1 {
        @apply pr-[1.3rem]
    }
    
    .row4 {
        @apply  bg-[red]
    }
    
    .row5 {
        @apply pr-[1.67rem]
    }
    
    .row2 {
        @apply pr-[0rem] bg-[red]
    }

    .row6 {
        @apply  bg-[red] pr-[-60rem]
    }

    .rt1 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
    }                   
    
    .rt2 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
    }
    
    .rt3 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
    }
    
    .rt4 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
    }
    
    .rt5 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[13.25rem] h-[5.833rem]
    }
    
    .rt6 {
        @apply font-semibold text-[1.467rem] leading-[1.5rem] mt-[1.75rem] w-[12.25rem] h-[5.833rem]
    }
    
    .square {
        background: #FFFFFF;
        box-shadow: 0rem 1rem 1.58rem rgba(0, 0, 0, 0.15);
        border-radius: 0.833rem;
        @apply h-[4.42rem] w-[4.42rem] flex justify-center items-center
    }




    .foot {
        @apply h-[173.25rem] ml-[1.92rem]
    }

    .hap1 {
        background-image: url(../assets/leases.png);
        @apply h-[20.8rem] w-[15.8rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] pl-[3rem] text-center
    }

    .hap2 {
        background-image: url(../assets/happiness.png);
        @apply h-[15.5rem] w-[15.5rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] pl-[2rem] text-center
    }

    .hap3 {
        background-image: url(../assets/cleaning.png);
        @apply h-[15.75rem] w-[11.67rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] flex justify-center pl-[1.5rem] text-center
    }

    .hap4 {
        background-image: url(../assets/roomate.png);
        @apply h-[22.67rem] w-[17.17rem] bg-cover bg-center bg-no-repeat pt-[2.5rem] font-semibold text-[2rem] leading-[1.67rem] text-[#ffffff] flex justify-center pl-[4.42rem] rounded-sm
    }

    .clean {
        @apply w-[47rem] flex flex-col gap-[1.67rem] mt-[9.17rem]
    }

    .hapy {
        @apply flex flex-row gap-[0.67rem] items-end
    }

    .hapx {
        @apply flex flex-row gap-[0.67rem]
    }

    .hap4t {
        @apply w-[16.58rem]
    }

    .search {
        @apply w-[50rem] mt-[22.63rem]
    }

    .foot1 {
        @apply flex flex-col gap-[5.67rem] mr-[16.97rem]
    }

    .lifestyle {
        @apply font-extrabold text-[3.33rem] leading-[4.5rem] w-[37rem] mb-[1.33rem]
    }

    .desire {
        @apply w-[37rem] font-normal text-[1.5rem] leading-[2.67rem] mb-[3.33rem]
    }

    .full {
        @apply flex  flex-col  
    }

.lists{
    @apply hidden       
}

.foot {
    @apply h-[173.25rem] ml-[12.92rem] hidden
}


.quote {
    @apply h-[173.25rem] ml-[12.92rem] hidden
}

.footer {
    @apply h-[173.25rem] ml-[12.92rem] hidden
}
}